@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color  : #22254b;
    --secondary-color: #373b69;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family     : 'Poppins', sans-serif;
    margin          : 0;
}

header {
    padding         : 1rem;
    display         : flex;
    justify-content : flex-end;
    background-color: var(--secondary-color);
}

header h1 {
    color      : white;
    text-shadow: #FC0 1px 0 10px;
    padding    : 1rem;
    position   : absolute;
    left       : 20px;
    top        : -22px;
}

form {
    padding-right: 20px;
}

.search {
    background-color: transparent;
    border          : 2px solid var(--primary-color);
    border-radius   : 50px;
    font-family     : inherit;
    font-size       : 1rem;
    padding         : 0.5rem 1rem;
    color           : #fff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline         : none;
    background-color: var(--primary-color);
}

main {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

.movie {
    width           : 250px;
    margin          : 1rem;
    background-color: var(--secondary-color);
    box-shadow      : 0 4px 5px rgba(0, 0, 0, 0.2);
    position        : relative;
    overflow        : hidden;
    border-radius   : 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color          : #eee;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0.5rem 1rem 1rem;
    letter-spacing : 0.5px;
}

.movie-info h3 {
    margin: auto;
}

.movie-info span {
    background-color: var(--primary-color);
    padding         : 0.25rem 0.5rem;
    border-radius   : 3px;
    font-weight     : bold;
    position        : absolute;
    top             : 20px;
    right           : 20px;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background-color: rgba(255, 255, 255, 0.9);
    font-size       : 0.5rem;
    padding         : 1.5rem;
    position        : absolute;
    left            : 0;
    bottom          : 0;
    right           : 0;
    max-height      : 100%;
    transform       : translateY(101%);
    overflow-y      : auto;
    transition      : transform 0.3s ease-in;
}

.overview h3 {
    font-size: 1rem;
}

.movie:hover .overview {
    transform: translateY(0);
}